/* Import Theme Variables */
@import '../../styles/theme.css';

/* General Styles */
body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1,
h2 {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--heading-color);
  text-align: center;
}

h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-color);
}

.mb {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

/* Dropzone Styling */
.dropzone {
  padding: 40px;
  border: 2px dashed var(--dropzone-border);
  border-radius: 10px;
  text-align: center;
  background-color: var(--dropzone-background);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropzone p {
  font-size: 1rem;
  color: var(--dropzone-text-color);
}

.dropzone.active {
  background-color: var(--dropzone-active-background);
}

/* Button Styling */
.flex {
  display: flex;
  gap: 1rem;
}

button {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--preview-box-shadow);
  transition: background-color 0.3s ease;
}

button:focus {
  outline: none;
}

.bg-primary {
  background-color: var(--button-primary-background);
  color: white;
}

.bg-primary:hover {
  background-color: var(--button-primary-hover);
}

.bg-secondary {
  background-color: var(--button-secondary-background);
  color: var(--dropzone-text-color);
}

.bg-secondary:hover {
  background-color: var(--button-secondary-hover);
}

.bg-success {
  background-color: var(--button-success-background);
  color: white;
}

.bg-success:hover {
  background-color: var(--button-success-hover);
}

/* Preview Area Styling */
.preview {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--preview-background);
  border-radius: 8px;
  box-shadow: 0 4px 6px var(--preview-box-shadow);
}

.preview img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--preview-box-shadow);
}

select,
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid var(--input-border);
  background-color: var(--input-background);
  font-size: 1rem;
  color: var(--text-color);
}
